<nav
  class="mb-5 navbar navbar-expand-lg navbar-light d-flex justify-content-between"
  style="background-color : #4285F4" !important
>
  <div class="container-fluid" style="background-color : #4285F4" !important>
    <a class="navbar-brand" style="color:white; margin-left: 20px;" href="#">Fit4U</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/logout" style="color: white">Log Out</a>
      </div>
    </div>
  </div>
</nav>
