<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <body>
    <%- include('./partials/indexScript.ejs') %>
    <!-- Form-->
    <div class="form">
      <div class="form-toggle"></div>
      <div class="form-panel one">
        <div class="form-header">
          <h1>Account Login</h1>
        </div>
        <div class="form-content">
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                id="lgn-email"
                name="email"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="lgn-password"
                name="password"
                required="required"
              />
            </div>
            <div class="form-group">
              <button id="lgn-btn" type="submit">Log In</button>
            </div>
          </form>
        </div>
      </div>
      <div class="form-panel two">
        <div class="form-header">
          <h1>Register Account</h1>
        </div>
        <div class="form-content">
          <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="rgr-username"
                name="username"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="rgr-password"
                name="password"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="cpassword">Confirm Password</label>
              <input
                type="password"
                id="rgr-cpassword"
                name="cpassword"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                type="email"
                id="rgr-email"
                name="email"
                required="required"
              />
            </div>
            <div class="form-group">
              <button type="submit" id="rgr-btn">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="pen-footer"></div>
  </body>
</html>
